




.has-search{
    width: 20%;
    padding: 0.2rem;
}

.has-search .form-control {
    padding-left: 2.8rem;
    width: 100%;
    height: auto;
    border: none;
    transition: none;
    border-bottom: .1rem solid rgb(187, 185, 185);
    color: #808080;
    background-color: rgb(211, 211, 211, 0.01);
    border-radius: .3rem;
}

i.top-fa-icon{
    font-size: 2rem;
    padding-top: 1.2rem !important;
    color: grey;
}

.has-search .form-control-feedback {
    position: absolute;
    font-size: 2rem;
    border: none;
    transition: none;
    z-index: 1;
    display: block;
    line-height: 2.8rem;
    pointer-events: none;
    color: #D3D3D3;
    background-color: rgb(211, 211, 211, 0.009);
}

input .form-control:focus,
.form-control-feedback:focus{
    transition: none !important;
    outline: none !important;
    border: none !important;
}

