




.recharts-responsive-container.pie-container-chart{
    transform: translateX(-1.5rem) !important;
    width: 25rem !important;
    height: 16rem !important;
}

.AH-middle-text-value{
    font-weight: 700 !important;
}

.AH-middle-text-name{
    font-weight: 700 !important;
}