




.attandance-history-top{
    font-size: 1.6rem;
    font-weight: 600;
    color:rgba(128, 128, 128, 0.63);
}

/* dir-Add_user */
.generate-report-dropdown{
    font-size: 1.8rem;
    padding-right: .5rem;
    color: rgba(26, 25, 25, 0.815);
}

.generate-report,
.time-period,
.select-perticular-user{
    padding-top: .2rem;
}

.collection-small-card{
    margin-top: 6rem;
    margin-left: 3rem;
}

button.edit-attandance{
    padding-left: .6rem !important;
    padding-right: .6rem !important;
    width: auto !important;
    height: 2.8rem !important;
}

.in-AH-take-attandnce{
    margin-left: 1.8rem;
    width: 96rem;
}

.attandance-history-top .dropdown #dropdownMenuButtonLeaveRequest{
    font-size: 1.8rem;
    margin-left: 1rem;
    font-weight: 600;
}

.attandance-history-top .dropdown .filter-dropdown3::after{
    left: 7.5rem;
}

.attandance-history-top .dropdown .filter-dropdown3{
    transform: translate3d(-1px, 28px, 0px) !important;
}

.attandance-history-top .dropdown .filter-dropdown3 p{
    padding-right: 2.8rem;
}