




.card{
    background-color: white;
    padding: .5rem;
    border-radius: 1.5rem;
    height: 18.5rem;
    width: 18.5rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 .8rem rgba(0, 0, 0, 0.08), 0 0 2.0rem rgba(0, 0, 0, 0.08);
}


.card .grid-card-img{
  margin-top: 3rem;
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border: .1rem solid rgba(128, 128, 128, 0.575);
  border-radius: 100%;
}

.grid-card-name{
  color:#6F87EE;
  text-align: center;
  margin-bottom: .5rem;
  margin-top: 1.5rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.grid-card-text{
  color: rgb(161, 160, 160);
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 3.0rem;
}

.card:hover{
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.19), 0 0 2rem rgba(0, 0, 0, 0.2);
}