




.heading-list{
    height: 5rem;
    padding: 1rem 0.5rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: rgba(128, 128, 128, 0.726);
    margin-right: 3.6rem;
    box-shadow: 0 0 .8rem rgba(0, 0, 0, 0.06), 0 0 2rem rgba(0, 0, 0, 0.06);
}


.user-attandance-card{
    height: 7rem;
    padding: .5rem;
    font-size: 1.5rem;
    border-radius: .5rem;
    margin-right: 3.6rem;
    box-shadow: 0 0 .8rem rgba(0, 0, 0, 0.08), 0 0 2rem rgba(0, 0, 0, 0.08);
    font-weight: 500;
}

.user-attandance-card-name{
    cursor: pointer;
    color: #3b5ef7f1;
    font-weight: 700;
}

.user-attandance-card-rollno{
    cursor: text;
    font-weight: 700;
    color: rgba(128, 128, 128, 0.726);
}

input.list-check-box {
    cursor: pointer;
    width: 2.6rem; 
    height: 1.4rem;
}

.take-attandance-leave p{
    /* color: rgba(56, 56, 56, 0.842); */
    padding-left: 9rem;
    padding-top: 1.5rem;
    padding-right: 5rem;
}

.take-attandance-leave i{
    padding-top: 2rem;
}


span.attandance-slider:before {
    content: "absent";
}

input:checked + span.attandance-slider:before {
    content: "present";
}


button.attandance-list-button-save{
    margin-left: 55rem;
    margin-top: 3rem;
    background-color: white;
    color: rgba(128, 128, 128, 0.918);
    font-size: 1.5rem;
    font-weight: 500;
    width: 9.0rem;
    height: 4.2rem;
    border-radius: 1.0rem;
    border: .1rem rgba(128, 128, 128, 0.733);
    align-items: top;
    box-shadow: 0 0 .8rem rgba(0, 0, 0, 0.08), 0 0 2.0rem rgba(0, 0, 0, 0.219);
}

button.attandance-list-button-save:hover{
    outline: 0;
    background-color:  #8795d691;
    color: white;
}

button.attandance-list-button-save:focus{
    outline: 0;
    background-color:  #748ae9;
    color: white;
}