





/* button.User-Detailed-Profile-button{
    margin-left: 2.5rem;
    background-color: rgba(211, 211, 211, 0.103);
    color: grey;
    font-size: 1.2rem;
    padding: .5rem;
    font-weight: 630;
    width: 16.1rem;
    height: 2.8rem;
    border-radius: 1.0rem;
    border: .001rem solid;
    border-color: rgba(128, 128, 128, 0.3);
} */