





/* ...........................Name color...................................... */

/*        color: #3b5ef7f1;        */


/* ...........................Text grey color................................... */

/*           color: rgba(87, 86, 86, 0.411);        */


/* ..........................Background color................................. */

/*           background-color: rgb(211,211,211,0.2);          */


/* ................Top button color....................... */

/*     background-color: #6F87EE;  //  #0052CC    */


/* ...............................Box Shadow........................................ */

/*      box-shadow: 0 0 .8rem rgba(0, 0, 0, 0.08), 0 0 2.0rem rgba(0, 0, 0, 0.08);                        */
/*      box-shadow: 0 0 .8rem rgba(0, 0, 0, 0.2), 0 0 2.0rem rgba(0, 0, 0, 0.2);        .....more Dark          */


/* ...........................Box Shadow for dropdown................................ */

/*     box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.19), 0 0 1.8rem rgba(0, 0, 0, 0.2);        */


/* ............................dropdown on hover................................ */

/*       background-color:  #8795d641;            */

/* ............................list data on hover................................ */

/*       background-color: rgba(96, 133, 218, 0.233);            */

/* ............................background-color on hover................................ */

/*       background-color:  #EBECF0;            */


/* ...........................background-color on focus.................................. */

/*       background-color:  #748ae9;           */


