




.filter-search .form-control {
    padding-left: 4.4rem;
    width: 25rem;
    height: 3rem;
    border: none;
    border-bottom: .1rem solid rgba(63, 243, 228, 0.527);
    color: #808080;
    background-color: rgba(82, 188, 250, 0.1);
    border-radius: 2.0rem;
}

.filter-search .search-icon {
    position: absolute;
    font-size: 2.0rem;
    padding-left: 1.5rem;
    padding-top: .6rem;
    z-index: 2;
    display: block;
    line-height: 1.8rem;
    pointer-events: none;
    color: #D3D3D3;
    background-color: rgb(211,211,211,0.009);
}

.filter-text{
    font-size: 1.4rem;
    font-weight: 500;
    color: rgba(128, 128, 128, 0.637);
}

/* .............Paginations........................ */
.pagination > button{
    width: 3.5rem;
    height: 2.8rem;
    font-size: 1.5rem;
    padding: .6rem;
    padding-inline: 1rem;
    line-height: 0rem;
}

.pagination > button:focus {
    box-shadow: none !important;
}

.pagination > button:hover{
    color: gray;
}

.pagination-text{
    font-size: 1.5rem !important;
    font-weight: 500;
    color: rgba(128, 128, 128, 0.541);
}

.users-text-filter{
    padding-top: .14rem;
}

/* ..........Date Picker...................... */
i.date-picker-icon{
    font-size: 1.5rem;
    transform: translate(22.5rem, .5rem);
}

input.date-picker-input{
    width: 23.2rem;
    height: 2.8rem;
    font-size: 1.3rem;
    font-weight: 500;
    padding: .3rem 3rem .3rem 1rem;
    background-color: #FAFBFC;
    border: .2rem solid #DFE1E6;
    border-radius: .3rem;
}

.date-picker{
    padding-left: 2rem;
    padding-right: .5rem;
}

.whole-filter .calander-div{
    top: 47.5rem;
    left: 81.6rem;
}

button.apply-date-range-button{
    font-size: 1rem;
    font-weight: 700;
    width: 4.5rem;
    height: 2.67rem;
    margin-left: 2rem;
    border: .1rem solid grey;
}

button.apply-date-range-button:focus{
    outline: none;
}

/* ..........Dropdown...................... */
.dropdown > button:focus {
    box-shadow: none !important;
}

.filter-dropdown1{
    top: .8rem !important;
    left: -4.5rem !important;
    border-radius: 1rem !important;
    border: none !important;
    box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.19), 0 0 1.8rem rgba(0, 0, 0, 0.2);
}

.filter-dropdown1 p,
.filter-dropdown2 p{
    cursor: pointer;
}


.filter-dropdown1 .dropdown-item:hover,
.filter-dropdown2 .dropdown-item:hover{
    background: white;
}


.dropdown-item > p {
    color:  rgba(80, 79, 79, 0.767) !important;
    margin-bottom: 0;
    padding-top: .3rem;
    font-size: 1.38rem;
    font-weight: 500;
}

p.dropdown-item{
    font-size: 1.53rem;
    font-weight: 500;
}

.dropdown-menu input{
    cursor: pointer;
    margin-top: .8rem;
    width: 1.5rem;
    height: 1.5rem;
    padding-right: .1rem;
}


.filter-dropdown1 label{
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: .5rem;
}

#dropdownMenuButton{
    font-size: 1.3rem;
    font-weight: 500;
    padding-left: .3rem !important;
}


input[type=checkbox].error-check-box{
    width: 3rem !important;
    height: 1.5rem !important;
}


/* ........Dropdown2................... */
.user-type-dropdown .dropdown-item{
    padding: .2rem 1rem .2rem 1rem;
    margin-right: 3rem;
}

.user-type-dropdown{
    padding: 1rem 1rem 1rem 2rem !important;
    top: .8rem !important;
    border-radius: 1rem !important;
    left: -1.5rem !important;
    border: none !important;
    box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.19), 0 0 1.8rem rgba(0, 0, 0, 0.2);
}




/* .........Small triangle at top............................... */
.user-type-dropdown:after,
.filter-dropdown1:after,
.filter-dropdown3:after {
    position: absolute;
    transform: translateX(-100%);
    top: -1.7rem;
    left: 9rem;
    width: 0;
    height: 0;
    content: '';
    border-top: 1rem solid transparent;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-bottom: 1rem solid white;
}


