





/* Style the navigation menu inside the left column */
/* #leftNavIcon {
    list-style-type: none;
    padding: .1rem .1rem;

}
*/

/* #leftNavIcon li i {
    margin-top: .5rem;
    font-size: 2.0rem;
    text-align: center;
    padding: 1.0rem 1.0rem;
    text-decoration: none;
    color: grey;
    display: block;
    border-radius: .5rem;
} */

/* 
#leftNavIcon li i:hover {
    background-color:  #8795d64d;
} */

.focusNow{
    background-color:  #748ae9;
    color: white !important;
}

.drop-users >p{
    margin-bottom: .6rem;
}

.drop-users .drop{
    width: 19rem;
    padding: .1rem;
    padding-left: .6rem;
    margin-left: .5rem;
    border-radius: .8rem;
}

.drop-attadance .drop{
    width: 22rem;
    padding: .1rem;
    padding-left: .6rem;
    margin-left: .5rem;
    border-radius: .8rem;
}

.drop-users .drop p,
.drop-attadance .drop p{
    margin-bottom: 0rem;
    padding-top: .45rem;
}

.drop-users .drop .fas,
.drop-attadance .drop .fas{
    line-height: 3.2rem !important;
}

.drop:hover{
    background-color: #EBECF0;
    cursor: pointer;
}

