





/* Style the navigation menu inside the left column */
/* #leftNavIcon {
    list-style-type: none;
    padding: .1rem .1rem;

}
*/

/* #leftNavIcon li i {
    margin-top: .5rem;
    font-size: 2.0rem;
    text-align: center;
    padding: 1.0rem 1.0rem;
    text-decoration: none;
    color: grey;
    display: block;
    border-radius: .5rem;
} */


#leftNavIcon li i:hover {
    background-color:  #8795d64d;
}

.focusNow{
    background-color:  #748ae9;
    color: white !important;
}

