



/* .........image icon.............. */
.list-img-icon{
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  object-fit: cover;
  border: .1px solid rgba(128, 128, 128, 0.5);
}

.user-card{
  padding: .4rem .3rem;
  font-size: 1.5rem;
  font-weight: 600;
  color:rgba(87, 86, 86, 0.596);
}

.form-user-list{
  padding-top: 1.2rem;
}

.list-names{
  cursor: pointer;
  color: #6F87EE !important;
  font-weight: 700 !important;
}

/* .........check-box.............. */
.list-check-box{
  border: .1px solid rgba(128, 128, 128, 0.5);
}

.user-data{
    height: 7.0rem;
}

.user-card{
    box-shadow:
  0 .1rem .1rem rgba(0, 0, 0, 0.02),
  0 .2rem .1rem rgba(0, 0, 0, 0.02),
  0 .5rem .2rem rgba(0, 0, 0, 0.02),
  0 .5rem .3rem rgba(0, 0, 0, 0.02),
  0 1.0rem .5rem rgba(0, 0, 0, 0.02),
  0 1.0rem .5rem rgba(0, 0, 0, 0.02);

  background: rgb(172, 123, 123);
  border-radius: .5rem;
}

.user-card i{
  cursor: text !important;
}

/* ................Inactive/active Slider.................................... */
label.switch {
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding-top: .1rem;
  width: 17.1rem;
  height: 2.5rem;
  background-color: rgba(211, 211, 211, 0.685);
  border-radius: .5rem;
}
  
label.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

span.slider:before {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: baseline;
  content: "inactive";
  font-size: 1.25rem;
  color: rgb(78, 69, 69, 0.8);
  font-weight: bold;
  height: 2.0rem;
  width: 8.0rem;
  left: .3rem;
  bottom: .4rem;
  top: .23rem;
  background-color: #ffffffdc;
  -webkit-transition: .08s;
  transition: .08s;
}
  

input:checked + span.slider:before {
  transform: translateX(8.5rem);
  -webkit-transform: translateX(8.5rem);
  -ms-transform: translateX(8.5rem);
  background-color: rgb(37 185 187);;
  right: .3rem;
  display: flex;
  justify-content: center;
  align-items: baseline;
  content: "active";
  font-size: 1.25rem;
  color:rgba(252, 250, 250, 0.938);
  font-weight: bold;
}
  
span.slider.round:before {
  border-radius: .5rem;
}

span.slider.round {
  border-radius: .5rem;
}

input:focus + span.slider:before {
  box-shadow: 0 .1rem .2rem grey;
}

