









#LoginModel{
    width: 40rem;
    height: 40rem;
}


#loginId >button {
    border-radius: 1.0rem;
    justify-content: center;
    padding: .7rem 1.3rem;
    margin-left: 11rem;
    margin-top: 2rem;
    font-size: 1.2rem;
    box-shadow: 0 0 .8rem rgba(0, 0, 0, 0.08), 0 0 2.0rem rgba(0, 0, 0, 0.08);
}

#loginId >input {
    width: 30rem;
    padding: 1.5rem;
    margin-top: .6rem 0;
    outline: none;
    font-size: 1.2rem;
    margin-bottom: 3.0rem;
    font-weight: 1.0rem;
    border-radius: 1.0rem;

    box-shadow: 0 0 .8rem rgba(0, 0, 0, 0.08), 0 0 2.0rem rgba(0, 0, 0, 0.08);

}

label.login-label{
    font-size: 1.2rem;
    font-weight: 600;
    color: grey;
    padding-left: 1.5rem;
}

p.login-title{
    font-size: 1.8rem;
    font-weight: 610;
    padding-right: 15.9rem;
    margin-bottom: 2rem;
}