




.User-Profile{
    width: 21.5rem;
    border-radius: 1.2rem;
    box-shadow: 0 0 .8rem rgba(0, 0, 0, 0.08), 0 0 2.0rem rgba(0, 0, 0, 0.08);
}

.User-Profile-img{
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    border-radius: 100%;
    border: .1rem solid  rgba(128, 128, 128, 0.137);
    border-color: rgba(128, 128, 128, 0.3);
  }



.User-Profile-name{
    font-size: 2rem;
    margin-top: 0.5rem;
    color:#3b5ef7f1;
}

.User-Profile-text{
    color: rgba(102, 99, 99, 0.849);
    font-weight: 640;
}

.User-Profile-chat-icon{
    outline: none;
    color: white;
    font-size: 2.0rem;
}

.User-Profile-button{
    background-color: #748ae9;
    color: white;
    font-size: 1.5rem;
    font-weight: 630;
    width: 12rem;
    height: 4.5rem;
    border-radius: 1.8rem;
    border: .2rem solid;
    line-height: 0rem;
    padding-bottom: 0.5rem;
    transition: transform 450ms;
}


.User-Profile-button:focus{
    outline: 0;
}

.User-Profile-button:hover{
    transform: scale(1.03);
}

.smallCard-User-Profile{
    border-radius: 1.0rem;
    height: 6rem;
    width: 100%;
    padding-top: 0.7rem;
    margin: 1rem 1.6rem;
    background-color: #ffffff;
    transition: transform 450ms;
    box-shadow: 0 0 .8rem rgba(0, 0, 0, 0.08), 0 0 2rem rgba(0, 0, 0, 0.08);
}

.smallCard-User-Profile:hover{
    transform: scale(1.03);
}