




.leave-attandance-left{
    width: 54rem;
    padding-bottom: 2rem;
    border-radius: 1.5rem;
    background-color: white;
    box-shadow: 0 0 .8rem rgba(0, 0, 0, 0.06), 0 0 2rem rgba(0, 0, 0, 0.06);
}


button.pagination-button-leave-request{
    width: 2.8rem;
    height: 2.8rem;
    font-size: 1.3rem;
    width: 2.8rem;
    font-size: 1.3rem;
    border-radius: .5rem;
    border: .1rem solid grey;
}

.leave-request-left-card-heading{
    height: 4rem;
    padding-top: 0.5rem;
    font-size: 1.3rem;
    margin-left: 2.0rem;
    color: rgba(128, 128, 128, 0.945);
    font-weight: 600;
    box-shadow: 0 0 .8rem rgba(0, 0, 0, 0.08), 0 0 2rem rgba(0, 0, 0, 0.08);
}

.leave-request-left-card-heading >p{
    font-size: 1.3rem;
}

.heading-leave-request{
    font-size: 1.8rem;
    font-weight: 800;
    color: rgba(53, 53, 53, 0.788);
}

.pagination-text{
    font-size: 1.4rem;
}

.leave-request-left-data{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgba(128, 128, 128, 0.74);
}
