





.calander-div{
    top: 41%;
    left: 10%;
    position: absolute;
    z-index: 2;
    box-shadow: 0 0 .8rem rgba(0, 0, 0, 0.06), 0 0 2.0rem rgba(0, 0, 0, 0.06);
}

/* .calander-apply-leave{
    font-size: 1.0rem !important;
    padding-top: .0rem !important;
} */

.calander-text{
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 800;
    padding-top: 1.2rem;
    padding-bottom: .0rem;
    color: grey;
}

.rdrMonthAndYearWrapper{
    padding-top: 0 !important;
    height: 1.5rem !important;
}



/* .............Calander css...................... */
:root {
    --weekend: rgba(0, 0, 0, 0);
    --date-light: #f8f9fa;
    --date-primary: #5644c1;
    --date-success: #37d37d;
    --date-primaryLight: #eceaf5;
    --date-primaryTitle: #dbd8f0;
    --date-hover: #262769;
    --date-highlight: #f83854;
    --date-disabled:#c2c1ccdc;
    --date-width: 26.0rem;
    --date-height: 28.0rem;

    /* ........range colors........ */
    --date-rangebg:#8072d0;
    --date-rangetext:#f8f9fa;
    --date-rangeDateBg:#5644c1;
  }


  .dateContainer{
    transform: translateX(-1.5rem);
    top: 1.5rem;
    width: 24.0rem !important;
    height: 15.0rem !important;
  }

  .dateContainer .header .next, .dateContainer .header .prev{
      top: calc(50% - 1.5rem) !important;
  }


  .dateContainer .header h1{
    line-height: 2rem !important;
    font-size: 1.5rem !important;
  }

  .dateContainer .weekdays div{
      line-height: 1.5rem !important;
  }

  .dateContainer .weekdays{
      height: 2.0rem !important;
  }

  .dateContainer .days{
    height: 100% !important;
  }

  .dateContainer .days div{
    font-size: 0.9rem !important;
    line-height: 2rem !important;
  }

  .dateContainer .header p{
    line-height: 0.6rem !important;
    font-size: 0.9rem !important;
  }

  .dateContainer .header{
      height: 4.0rem !important;
  }