





.leave-request >button{
    width: 12.5rem;
    height: 3.0rem;
    font-size: 1.3rem;
    padding: .5rem;
    font-weight: 600;
    line-height: 1;
    color: rgba(128, 128, 128, 0.692);
    margin-left: 1.0rem;
    border: .1rem solid grey;
    border-radius: .6rem;
    color: grey;
    background-color: white;
}

.leave-request >button:last-child{
    font-size: 1.3rem !important;
    width: 4.0rem;
    font-weight: 800;
    color: black;
}

.leave-request >button:focus{
    background-color:#748ae9;
    color: white;
    outline: none !important;
}


.leave-request >button:hover{
    background-color:#8795d691;
    color: white;
    outline: none !important;
}


.browse-text{
    font-size: 1.6rem;
    padding-top: .5rem;
    font-weight: 700;
    color: rgba(128, 128, 128, 0.637);
}

.test-pending-request{
    font-size: 2.0rem;
    font-weight: 700;
    padding-bottom: .55rem;
    cursor: pointer;
    color: rgba(12, 12, 12, 0.842);
    border: none !important;
    background-color: rgb(211,211,211,0.01) !important;
}

.test-pending-request:focus{
    outline: none;
}

/* ..............Browse Dropdown...................... */

#dropdownMenuButtonLeaveRequest{
    font-size: 2.0rem;
    font-weight: 700;
    padding-bottom: .55rem;
    cursor: pointer;
    color: rgba(12, 12, 12, 0.842);
    border: none !important;
    background-color: rgb(211,211,211,0.01) !important
}

.filter-dropdown3{
    padding: 1.5rem 1rem 1rem 1rem !important;
    top: .8rem !important;
    border-radius: 1rem !important;
    left: -0.5rem !important;
    border: none !important;
    box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.3), 0 0 1.8rem rgba(0, 0, 0, 0.3);
}

.filter-dropdown3 .dropdown-item{
    cursor: pointer;
}

.filter-dropdown3 p{
    font-size: 1.5rem;
    padding-right: 4.8rem;
    padding-top: 0rem;
    line-height: 2.2rem;
}

.filter-dropdown3 .dropdown-item:hover{
    background-color:  #8795d641;
    border-radius: 1rem;
}


/* ........triangle-icon-at-bottom..................... */

.triangle-icon-at-bottom{
    cursor: pointer;
    margin-left: .1rem;
    margin-top: 1rem;
    border-top: .4rem solid black;
    border-left: .4rem solid transparent;
    border-right: .4rem solid transparent;
}

/* ........when button is clicked..................... */
.focusCss {
    background-color:#748ae9 !important;
    color: white !important;
    outline: none !important;
}